<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Receiver Mode On</h1>

    <div class="buttons">
      <button class="button button-clear" ng-click="exitReceiverMode()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>


    <div class="card">
      <div class="item item-body">
        <div>
          <div class="list">
            <label class="item">
            <p>Please wait, the <b>MANAGER</b> of your SPLIT will start flicking your items soon.</p>
              <ion-spinner class="centerer" icon="ripple"></ion-spinner>
            </label>
            <label class="item centerer">
              <h1 class="big-font">{{receiverNumber}}</h1>
            </label>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-modal-view>